USE [RetailChain]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[IDCard] [varchar](20) NOT NULL,
	[Hometown] [nvarchar](100) NULL,
	[CurrentResidence] [nvarchar](255) NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[StartDate] [date] NOT NULL,
	[PositionId] [int] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financial_inventory_cost]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financial_inventory_cost](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[total_cost] [decimal](15, 2) NOT NULL,
	[purchase_date] [date] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financial_salary_cost]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financial_salary_cost](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[total_salary] [decimal](15, 2) NOT NULL,
	[salary_month] [date] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financial_summary]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financial_summary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[total_sales] [decimal](15, 2) NULL,
	[total_inventory_cost] [decimal](15, 2) NULL,
	[total_salary_cost] [decimal](15, 2) NULL,
	[total_other_expenses] [decimal](15, 2) NULL,
	[net_profit]  AS ([total_sales]-(([total_inventory_cost]+[total_salary_cost])+[total_other_expenses])) PERSISTED,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryCalculation]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryCalculation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SalaryMonth] [date] NOT NULL,
	[HoursWorked] [int] NOT NULL,
	[SalaryTypeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryType]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalaryTypeName] [nvarchar](50) NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[SalaryCalculationType] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftTime]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[location] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkDate] [date] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[financial_inventory_cost] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[financial_salary_cost] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[financial_summary] ADD  DEFAULT ((0)) FOR [total_sales]
GO
ALTER TABLE [dbo].[financial_summary] ADD  DEFAULT ((0)) FOR [total_inventory_cost]
GO
ALTER TABLE [dbo].[financial_summary] ADD  DEFAULT ((0)) FOR [total_salary_cost]
GO
ALTER TABLE [dbo].[financial_summary] ADD  DEFAULT ((0)) FOR [total_other_expenses]
GO
ALTER TABLE [dbo].[financial_summary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[financial_inventory_cost]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[financial_salary_cost]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[financial_summary]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[SalaryCalculation]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[SalaryCalculation]  WITH CHECK ADD FOREIGN KEY([SalaryTypeId])
REFERENCES [dbo].[SalaryType] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD FOREIGN KEY([ShiftId])
REFERENCES [dbo].[ShiftTime] ([Id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([Status]='Unexcused' OR [Status]='Late' OR [Status]='Leave' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[SalaryCalculation]  WITH CHECK ADD CHECK  (([HoursWorked]>=(0)))
GO
ALTER TABLE [dbo].[SalaryType]  WITH CHECK ADD CHECK  (([HourlyRate]>(0)))
GO
ALTER TABLE [dbo].[SalaryType]  WITH CHECK ADD CHECK  (([SalaryCalculationType]='shift' OR [SalaryCalculationType]='daily' OR [SalaryCalculationType]='hourly'))
GO
/****** Object:  StoredProcedure [dbo].[GetFinancialReport]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Lấy báo cáo tài chính linh hoạt
CREATE PROCEDURE [dbo].[GetFinancialReport]
    @startDate DATE = NULL,  
    @endDate DATE = NULL,    
    @year INT = NULL,        
    @month INT = NULL,       
    @day INT = NULL,         
    @branchId INT = NULL     
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        f.branch_id,
        b.name AS branch_name,
        f.date,
        f.total_sales,
        f.total_inventory_cost,
        f.total_salary_cost,
        f.total_other_expenses,
        f.net_profit
    FROM financial_summary f
    JOIN warehouses b ON f.branch_id = b.id
    WHERE 
        (@startDate IS NULL OR f.date >= @startDate)
        AND (@endDate IS NULL OR f.date <= @endDate)
        AND (@year IS NULL OR YEAR(f.date) = @year)
        AND (@month IS NULL OR MONTH(f.date) = @month)
        AND (@day IS NULL OR DAY(f.date) = @day)
        AND (@branchId IS NULL OR f.branch_id = @branchId)
    ORDER BY f.date DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[UpdateFinancialSummary]    Script Date: 2/17/2025 11:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Cập nhật tổng hợp tài chính
CREATE PROCEDURE [dbo].[UpdateFinancialSummary]
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM financial_summary;

    INSERT INTO financial_summary (branch_id, date, total_sales, total_inventory_cost, total_salary_cost, created_at)
    SELECT 
        r.branch_id,
        r.transaction_date AS date,
        COALESCE(SUM(r.total_sales), 0) AS total_sales,
        COALESCE((SELECT SUM(ic.total_cost) FROM financial_inventory_cost ic 
                  WHERE ic.branch_id = r.branch_id AND ic.purchase_date = r.transaction_date), 0) AS total_inventory_cost,
        COALESCE((SELECT SUM(sc.total_salary) FROM financial_salary_cost sc 
                  WHERE sc.branch_id = r.branch_id AND sc.salary_month = EOMONTH(r.transaction_date)), 0) AS total_salary_cost,
        GETDATE() AS created_at
    FROM financial_revenue r
    GROUP BY r.branch_id, r.transaction_date;
END;

GO
