USE [master]
GO
/****** Object:  Database [RetailChain]    Script Date: 3/18/2025 4:28:04 PM ******/
CREATE DATABASE [RetailChain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetailChain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RetailChain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RetailChain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RetailChain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetailChain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetailChain]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[AttendanceRecordsId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceRecordsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_details]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_details](
	[Batch_detailsId] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[purchase_order_id] [int] NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Batch_detailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[BatchesId] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[received_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cash_Handover]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cash_Handover](
	[HandoverID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ReceiverID] [int] NULL,
	[BranchID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](20) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[PersonName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HandoverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daily_sales_reports]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daily_sales_reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[total_sales] [decimal](18, 2) NOT NULL,
	[total_orders] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ProfileImage] [nvarchar](255) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NOT NULL,
	[IdentityNumber] [nvarchar](20) NOT NULL,
	[Hometown] [nvarchar](100) NULL,
	[WorkShiftId] [int] NULL,
	[FixedSalary] [int] NULL,
	[IsActive] [bit] NULL,
	[StartDate] [date] NOT NULL,
	[BranchID] [int] NULL,
	[IsCheckedIn] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[End_Shifts]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[End_Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalSales] [decimal](18, 2) NOT NULL,
	[CashCollected] [decimal](18, 2) NOT NULL,
	[BankCollected] [decimal](18, 2) NOT NULL,
	[CashAtStart] [decimal](18, 2) NOT NULL,
	[CashAtEnd] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[shop_id] [int] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[employeeid] [int] NOT NULL,
	[payment_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_price_history]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_price_history](
	[PriceHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[price_type] [nvarchar](20) NOT NULL,
	[old_price] [decimal](18, 2) NOT NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[changed_by] [int] NOT NULL,
	[change_date] [datetime] NULL,
	[warehouse_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProductsId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[weight] [decimal](10, 2) NULL,
	[volume] [decimal](10, 2) NULL,
	[image_url] [nvarchar](500) NULL,
	[category] [nvarchar](50) NULL,
	[is_enabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[PromotionsId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[product_id] [int] NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Costs]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Costs](
	[CostID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderID] [int] NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[BranchID] [int] NOT NULL,
	[RecordedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_order_items]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order_items](
	[Purchase_order_itemsId] [int] IDENTITY(1,1) NOT NULL,
	[purchase_order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity_ordered] [int] NOT NULL,
	[quantity_received] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Purchase_order_itemsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[Purchase_ordersId] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NULL,
	[order_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Purchase_ordersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refund]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refund](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[employeeid] [int] NOT NULL,
	[refund_date] [date] NOT NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[refund_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundDetail]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[refund_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FixedSalary] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[BonusSalary] [int] NULL,
	[Penalty] [int] NULL,
	[FinalSalary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_reports]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_month] [date] NOT NULL,
	[total_sales] [decimal](18, 2) NOT NULL,
	[total_cost] [decimal](18, 2) NOT NULL,
	[total_salary] [decimal](18, 2) NOT NULL,
	[total_profit] [decimal](18, 2) NOT NULL,
	[total_orders] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_adjustment_details]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_adjustment_details](
	[StockAdjustmentDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[adjustment_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[previous_quantity] [int] NOT NULL,
	[adjusted_quantity] [int] NOT NULL,
	[reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockAdjustmentDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_adjustments]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_adjustments](
	[StockAdjustmentsId] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[auditor_id] [int] NOT NULL,
	[adjustment_date] [datetime] NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockAdjustmentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_audit_details]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_audit_details](
	[StockAuditDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[audit_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[recorded_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockAuditDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_audit_records]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_audit_records](
	[StockAuditRecordsId] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[auditor_id] [int] NOT NULL,
	[co_auditor_id] [int] NULL,
	[audit_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockAuditRecordsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_levels]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_levels](
	[Stock_levelsId] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[min_quantity] [int] NOT NULL,
	[purchase_price] [decimal](18, 2) NULL,
	[wholesale_price] [decimal](18, 2) NULL,
	[retail_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stock_levelsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier_products]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier_products](
	[SupplierProductsId] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[SuppliersId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SuppliersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_code] [varchar](20) NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_date] [datetime] NULL,
	[reference_id] [varchar](50) NULL,
	[bank_account] [varchar](50) NULL,
	[employee_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[performed_by] [varchar](100) NULL,
	[order_id] [int] NULL,
	[refund_id] [int] NULL,
	[handover_id] [int] NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Transact__85C600AFEB18289C] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_transfer_details]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_transfer_details](
	[TransferDetailID] [int] IDENTITY(1,1) NOT NULL,
	[transfer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_transfers]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_transfers](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[from_warehouse_id] [int] NOT NULL,
	[to_warehouse_id] [int] NOT NULL,
	[transfer_date] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 3/18/2025 4:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[WarehousesId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehousesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [PasswordHash], [Role], [IsActive]) VALUES (1, N'admin', N'1234', N'Owner', 1)
INSERT [dbo].[Account] ([AccountID], [Username], [PasswordHash], [Role], [IsActive]) VALUES (2, N'staff01', N'1111', N'Staff', 1)
INSERT [dbo].[Account] ([AccountID], [Username], [PasswordHash], [Role], [IsActive]) VALUES (3, N'staff02', N'1111', N'Staff', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cash_Handover] ON 

INSERT [dbo].[Cash_Handover] ([HandoverID], [TransactionDate], [EmployeeID], [ReceiverID], [BranchID], [Amount], [TransactionType], [Description], [CreatedBy], [PersonName]) VALUES (1, CAST(N'2025-03-11T04:30:35.550' AS DateTime), 2, 1, 1, CAST(500000.00 AS Decimal(18, 2)), N'Chi', N'Nhân viên 2 đã bàn giao tiền cho nhân viên 1', N'nhân viên 2', N'Không xác d?nh')
INSERT [dbo].[Cash_Handover] ([HandoverID], [TransactionDate], [EmployeeID], [ReceiverID], [BranchID], [Amount], [TransactionType], [Description], [CreatedBy], [PersonName]) VALUES (2, CAST(N'2025-03-10T14:28:50.563' AS DateTime), 1, 2, 1, CAST(1800000.00 AS Decimal(18, 2)), N'Chi', N'Nhân viên 1 đã bàn giao tiền mặt sau ca làm việc', N'nhân viên 1', N'Không xác d?nh')
INSERT [dbo].[Cash_Handover] ([HandoverID], [TransactionDate], [EmployeeID], [ReceiverID], [BranchID], [Amount], [TransactionType], [Description], [CreatedBy], [PersonName]) VALUES (3, CAST(N'2025-03-10T14:28:50.563' AS DateTime), 1, 3, 1, CAST(500000.00 AS Decimal(18, 2)), N'Chi', N'Nhân viên 1 tiếp tục bàn giao số tiền mặt', N'nhân viên 1', N'Không xác d?nh')
SET IDENTITY_INSERT [dbo].[Cash_Handover] OFF
GO
SET IDENTITY_INSERT [dbo].[daily_sales_reports] ON 

INSERT [dbo].[daily_sales_reports] ([ReportID], [warehouse_id], [report_date], [total_sales], [total_orders], [created_at]) VALUES (2, 2, CAST(N'2025-03-11' AS Date), CAST(500000.00 AS Decimal(18, 2)), 1, CAST(N'2025-03-11T04:37:33.280' AS DateTime))
INSERT [dbo].[daily_sales_reports] ([ReportID], [warehouse_id], [report_date], [total_sales], [total_orders], [created_at]) VALUES (3, 1, CAST(N'2025-03-11' AS Date), CAST(3000000.00 AS Decimal(18, 2)), 3, CAST(N'2025-03-11T11:49:28.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[daily_sales_reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [AccountID], [ProfileImage], [FullName], [Phone], [Gender], [BirthDate], [IdentityNumber], [Hometown], [WorkShiftId], [FixedSalary], [IsActive], [StartDate], [BranchID], [IsCheckedIn], [CreatedAt], [UpdatedAt]) VALUES (1, 1, NULL, N'Nguyễn Văn Chủ', N'0987654321', N'Male', CAST(N'1985-01-01' AS Date), N'123456789', N'Hà Nội', NULL, 20000000, 1, CAST(N'2023-01-01' AS Date), NULL, 0, CAST(N'2025-03-11T04:23:06.873' AS DateTime), CAST(N'2025-03-11T04:23:06.873' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeID], [AccountID], [ProfileImage], [FullName], [Phone], [Gender], [BirthDate], [IdentityNumber], [Hometown], [WorkShiftId], [FixedSalary], [IsActive], [StartDate], [BranchID], [IsCheckedIn], [CreatedAt], [UpdatedAt]) VALUES (2, 2, NULL, N'Trần Thị A', N'0978654321', N'Female', CAST(N'1995-05-15' AS Date), N'987654321', N'Hà Nội', NULL, 9000000, 1, CAST(N'2024-02-10' AS Date), 1, 0, CAST(N'2025-03-11T04:23:06.873' AS DateTime), CAST(N'2025-03-11T04:23:06.873' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeID], [AccountID], [ProfileImage], [FullName], [Phone], [Gender], [BirthDate], [IdentityNumber], [Hometown], [WorkShiftId], [FixedSalary], [IsActive], [StartDate], [BranchID], [IsCheckedIn], [CreatedAt], [UpdatedAt]) VALUES (3, 3, NULL, N'Lê Văn B', N'0968543217', N'Male', CAST(N'1993-07-20' AS Date), N'876543210', N'Hà Nội', NULL, 9500000, 1, CAST(N'2024-02-10' AS Date), 1, 0, CAST(N'2025-03-11T04:23:06.873' AS DateTime), CAST(N'2025-03-11T04:23:06.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [created_date], [shop_id], [total_amount], [employeeid], [payment_status]) VALUES (1, CAST(N'2025-03-11T04:29:14.457' AS DateTime), 1, CAST(2000000.00 AS Decimal(18, 2)), 1, N'Paid')
INSERT [dbo].[Order] ([OrderId], [created_date], [shop_id], [total_amount], [employeeid], [payment_status]) VALUES (2, CAST(N'2025-03-11T04:29:14.457' AS DateTime), 1, CAST(500000.00 AS Decimal(18, 2)), 2, N'Paid')
INSERT [dbo].[Order] ([OrderId], [created_date], [shop_id], [total_amount], [employeeid], [payment_status]) VALUES (3, CAST(N'2025-03-11T04:37:14.163' AS DateTime), 1, CAST(2000000.00 AS Decimal(18, 2)), 1, N'Paid')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (1, 1, 1, CAST(2.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailId], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (2, 1, 2, CAST(2.00 AS Decimal(10, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(4500000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailId], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (3, 2, 3, CAST(1.00 AS Decimal(10, 2)), CAST(600000.00 AS Decimal(18, 2)), CAST(6000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([ProductsId], [name], [barcode], [unit], [weight], [volume], [image_url], [category], [is_enabled]) VALUES (1, N'Bát sứ trắng', N'8938505970001', N'cái', NULL, NULL, NULL, N'Gốm Sứ', 1)
INSERT [dbo].[products] ([ProductsId], [name], [barcode], [unit], [weight], [volume], [image_url], [category], [is_enabled]) VALUES (2, N'Chén gốm hoa văn', N'8938505970002', N'cái', NULL, NULL, NULL, N'Gốm Sứ', 1)
INSERT [dbo].[products] ([ProductsId], [name], [barcode], [unit], [weight], [volume], [image_url], [category], [is_enabled]) VALUES (3, N'Trà đào', N'8938505970003', N'cái', NULL, NULL, NULL, N'Trà', 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[Refund] ON 

INSERT [dbo].[Refund] ([id], [order_id], [employeeid], [refund_date], [refund_amount], [refund_status]) VALUES (1, 1, 2, CAST(N'2025-03-11' AS Date), CAST(500000.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Refund] OFF
GO
SET IDENTITY_INSERT [dbo].[RefundDetail] ON 

INSERT [dbo].[RefundDetail] ([id], [refund_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (1, 1, 2, CAST(1.00 AS Decimal(10, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RefundDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([SalaryId], [EmployeeId], [FixedSalary], [StartDate], [EndDate], [BonusSalary], [Penalty], [FinalSalary]) VALUES (1, 1, 8000000, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), 500000, 0, 8500000)
INSERT [dbo].[Salary] ([SalaryId], [EmployeeId], [FixedSalary], [StartDate], [EndDate], [BonusSalary], [Penalty], [FinalSalary]) VALUES (2, 2, 7000000, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), 300000, 0, 7300000)
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[sales_reports] ON 

INSERT [dbo].[sales_reports] ([id], [report_month], [total_sales], [total_cost], [total_salary], [total_profit], [total_orders]) VALUES (1, CAST(N'2025-03-01' AS Date), CAST(5000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[sales_reports] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_levels] ON 

INSERT [dbo].[stock_levels] ([Stock_levelsId], [product_id], [warehouse_id], [quantity], [min_quantity], [purchase_price], [wholesale_price], [retail_price]) VALUES (1, 1, 1, 92, 20, CAST(10000.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[stock_levels] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([transaction_id], [transaction_code], [transaction_type], [payment_method], [amount], [transaction_date], [reference_id], [bank_account], [employee_id], [branch_id], [performed_by], [order_id], [refund_id], [handover_id], [description]) VALUES (9, N'TX-20250316-1011', N'POS_CASH_PAYMENT', N'Cash', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-03-16T02:13:55.640' AS DateTime), N'SALE-209', NULL, 2, 1, N'Tr?n Th? A', 1, NULL, NULL, N'Thanh toán tiền mặt cho đơn hàng')
INSERT [dbo].[Transactions] ([transaction_id], [transaction_code], [transaction_type], [payment_method], [amount], [transaction_date], [reference_id], [bank_account], [employee_id], [branch_id], [performed_by], [order_id], [refund_id], [handover_id], [description]) VALUES (10, N'TX-20250316-1002', N'POS_CASH_PAYMENT', N'Cash', CAST(750000.00 AS Decimal(18, 2)), CAST(N'2025-03-16T02:13:55.640' AS DateTime), N'SALE-202', NULL, 2, 1, N'Tr?n Th? A', 2, NULL, NULL, N'Thanh toán tiền mặt cho đơn hàng')
INSERT [dbo].[Transactions] ([transaction_id], [transaction_code], [transaction_type], [payment_method], [amount], [transaction_date], [reference_id], [bank_account], [employee_id], [branch_id], [performed_by], [order_id], [refund_id], [handover_id], [description]) VALUES (12, N'TX-20250316-1004', N'POS_BANK_PAYMENT', N'Bank Transfer', CAST(1500000.00 AS Decimal(18, 2)), CAST(N'2025-03-16T02:15:56.320' AS DateTime), N'SALE-204', N'987654321', 2, 1, N'Tr?n Th? A', 8, NULL, NULL, N'Thanh toán chuyển khoản cho đơn hàng')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouses] ON 

INSERT [dbo].[warehouses] ([WarehousesId], [name], [address], [capacity]) VALUES (1, N'Chi Nhánh 1', N'123 Đường A, Hà Nội', 1000)
INSERT [dbo].[warehouses] ([WarehousesId], [name], [address], [capacity]) VALUES (2, N'Chi Nhánh 2', N'456 Đường B, TP.HCM', 800)
INSERT [dbo].[warehouses] ([WarehousesId], [name], [address], [capacity]) VALUES (3, N'Chi Nhánh 3', N'789 Đường C, Đà Nẵng', 600)
SET IDENTITY_INSERT [dbo].[warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__536C85E46CF97CE1]    Script Date: 3/18/2025 4:28:05 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__6354A73FB4499D6D]    Script Date: 3/18/2025 4:28:05 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[IdentityNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__C16E36F8C3CC1692]    Script Date: 3/18/2025 4:28:05 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transact__DD5740BEF432A0F9]    Script Date: 3/18/2025 4:28:05 PM ******/
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [UQ__Transact__DD5740BEF432A0F9] UNIQUE NONCLUSTERED 
(
	[transaction_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT (getdate()) FOR [received_date]
GO
ALTER TABLE [dbo].[Cash_Handover] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Cash_Handover] ADD  DEFAULT ('Thu') FOR [TransactionType]
GO
ALTER TABLE [dbo].[Cash_Handover] ADD  DEFAULT ('Không xác d?nh') FOR [PersonName]
GO
ALTER TABLE [dbo].[daily_sales_reports] ADD  DEFAULT ((0)) FOR [total_sales]
GO
ALTER TABLE [dbo].[daily_sales_reports] ADD  DEFAULT ((0)) FOR [total_orders]
GO
ALTER TABLE [dbo].[daily_sales_reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [FixedSalary]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [IsCheckedIn]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[product_price_history] ADD  DEFAULT (getdate()) FOR [change_date]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_enabled]
GO
ALTER TABLE [dbo].[Purchase_Costs] ADD  DEFAULT (getdate()) FOR [RecordedDate]
GO
ALTER TABLE [dbo].[purchase_order_items] ADD  DEFAULT ((0)) FOR [quantity_received]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Refund] ADD  DEFAULT (getdate()) FOR [refund_date]
GO
ALTER TABLE [dbo].[Refund] ADD  DEFAULT ('Pending') FOR [refund_status]
GO
ALTER TABLE [dbo].[stock_adjustments] ADD  DEFAULT (getdate()) FOR [adjustment_date]
GO
ALTER TABLE [dbo].[stock_audit_records] ADD  DEFAULT (getdate()) FOR [audit_date]
GO
ALTER TABLE [dbo].[stock_levels] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[stock_levels] ADD  DEFAULT ((20)) FOR [min_quantity]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF__Transacti__trans__0E6E26BF]  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[warehouse_transfers] ADD  DEFAULT (getdate()) FOR [transfer_date]
GO
ALTER TABLE [dbo].[warehouse_transfers] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[batch_details]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([BatchesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_details]  WITH CHECK ADD FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([Purchase_ordersId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cash_Handover]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[Cash_Handover]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Cash_Handover]  WITH CHECK ADD FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[daily_sales_reports]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[End_Shifts]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[End_Shifts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
GO
ALTER TABLE [dbo].[product_price_history]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[product_price_history]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_price_history]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Costs]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[Purchase_Costs]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[purchase_orders] ([Purchase_ordersId])
GO
ALTER TABLE [dbo].[purchase_order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchase_order_items]  WITH CHECK ADD FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([Purchase_ordersId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([SuppliersId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefundDetail]  WITH CHECK ADD FOREIGN KEY([refund_id])
REFERENCES [dbo].[Refund] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[stock_adjustment_details]  WITH CHECK ADD FOREIGN KEY([adjustment_id])
REFERENCES [dbo].[stock_adjustments] ([StockAdjustmentsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_adjustment_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([auditor_id])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_audit_details]  WITH CHECK ADD FOREIGN KEY([audit_id])
REFERENCES [dbo].[stock_audit_records] ([StockAuditRecordsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_audit_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_audit_records]  WITH CHECK ADD FOREIGN KEY([auditor_id])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[stock_audit_records]  WITH CHECK ADD FOREIGN KEY([co_auditor_id])
REFERENCES [dbo].[Account] ([AccountID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[stock_audit_records]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_levels]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_levels]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[supplier_products]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[supplier_products]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([SuppliersId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Branch]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Employee]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Handover] FOREIGN KEY([handover_id])
REFERENCES [dbo].[Cash_Handover] ([HandoverID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Handover]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Order]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Refund] FOREIGN KEY([refund_id])
REFERENCES [dbo].[Refund] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Refund]
GO
ALTER TABLE [dbo].[warehouse_transfer_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([ProductsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[warehouse_transfer_details]  WITH CHECK ADD FOREIGN KEY([transfer_id])
REFERENCES [dbo].[warehouse_transfers] ([TransferID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[warehouse_transfers]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[warehouse_transfers]  WITH CHECK ADD FOREIGN KEY([from_warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[warehouse_transfers]  WITH CHECK ADD FOREIGN KEY([to_warehouse_id])
REFERENCES [dbo].[warehouses] ([WarehousesId])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Role]='Staff' OR [Role]='Owner'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([payment_status]='Refunded' OR [payment_status]='Paid' OR [payment_status]='Pending'))
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD CHECK  (([refund_status]='Rejected' OR [refund_status]='Completed' OR [refund_status]='Pending'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_TransactionType] CHECK  (([transaction_type]='CASH_EXPENSE' OR [transaction_type]='CASH_HANDOVER' OR [transaction_type]='CASH_REFUND' OR [transaction_type]='POS_BANK_PAYMENT' OR [transaction_type]='POS_CASH_PAYMENT'))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_TransactionType]
GO
ALTER TABLE [dbo].[warehouse_transfers]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='pending'))
GO
/****** Object:  StoredProcedure [dbo].[pos_CreateOrder]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_CreateOrder]
    @EmployeeId INT,
    @ShopId INT,
    @TotalAmount DECIMAL(18,2),
    @PaymentMethod NVARCHAR(20),
    @Products NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @OrderId INT, @TransactionCode VARCHAR(20), @PerformedBy NVARCHAR(100); ;

    BEGIN TRY
        -- 🔹 Bắt đầu giao dịch
        BEGIN TRANSACTION;
		 SELECT @PerformedBy = FullName 
        FROM Employee 
        WHERE EmployeeId = @EmployeeId;
        -- 1️⃣ Tạo đơn hàng mới
        INSERT INTO [Order] (created_date, shop_id, total_amount, employeeid, payment_status)
        VALUES (GETDATE(), @ShopId, @TotalAmount, @EmployeeId, 'Pending');

        SET @OrderId = SCOPE_IDENTITY();

        -- 2️⃣ Thêm sản phẩm vào OrderDetail mà không cần CURSOR
        INSERT INTO OrderDetail (order_id, product_id, quantity, unit_price, total_price)
        SELECT 
            @OrderId, 
            ProductId, 
            Quantity, 
            UnitPrice, 
            (Quantity * UnitPrice) AS TotalPrice
        FROM OPENJSON(@Products) 
        WITH (
            ProductId INT '$.ProductId',
            Quantity DECIMAL(10,2) '$.Quantity',
            UnitPrice DECIMAL(18,2) '$.UnitPrice'
        );

        -- 3️⃣ Cập nhật hàng tồn kho
        UPDATE s
        SET s.quantity = s.quantity - p.Quantity
        FROM stock_levels s
        INNER JOIN OPENJSON(@Products) 
        WITH (
            ProductId INT '$.ProductId',
            Quantity DECIMAL(10,2) '$.Quantity'
        ) p
        ON s.product_id = p.ProductId AND s.warehouse_id = @ShopId
        WHERE s.quantity >= p.Quantity;

        -- Nếu không có sản phẩm nào cập nhật kho => rollback
        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR ('Không đủ hàng tồn kho', 16, 1);
        END

        -- 4️⃣ Ghi nhận giao dịch thanh toán vào Transactions
        SET @TransactionCode = CONCAT(@PaymentMethod, '-', @OrderId, '-', FORMAT(GETDATE(), 'yyyyMMddHHmmss'));

        INSERT INTO Transactions (
            transaction_code, transaction_type, payment_method, amount, transaction_date, performed_by,
            employee_id, branch_id, order_id, description
        )
        VALUES (
            @TransactionCode, 
            CASE 
                WHEN @PaymentMethod = 'Cash' THEN 'POS_CASH_PAYMENT'
                WHEN @PaymentMethod = 'Bank' THEN 'POS_BANK_PAYMENT'
            END, 
            @PaymentMethod, 
            @TotalAmount, 
            GETDATE(), 
			@PerformedBy ,
            @EmployeeId, 
            @ShopId, 
            @OrderId, 
            'Thanh toán đơn hàng từ POS'
        );

        -- 5️⃣ Cập nhật trạng thái đơn hàng thành "Paid"
        UPDATE [Order] 
        SET payment_status = 'Paid'
        WHERE OrderId = @OrderId;

        -- ✅ Commit giao dịch
        COMMIT TRANSACTION;

        -- 6️⃣ Trả về OrderId
        SELECT @OrderId AS NewOrderId;
    END TRY
    BEGIN CATCH
        -- ❌ Rollback nếu có lỗi
        ROLLBACK TRANSACTION;

        -- Bắt lỗi
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[pos_ProcessReturn]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pos_ProcessReturn]
    @EmployeeId INT,
    @OrderId INT, -- ID đơn hàng cần trả
    @Products NVARCHAR(MAX) -- Danh sách JSON sản phẩm cần trả [{"ProductId":1, "ReturnQuantity":1, "UnitPrice":50000}]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @RefundId INT;
    DECLARE @ProductId INT, @ReturnQuantity DECIMAL(10,2), @UnitPrice DECIMAL(18,2), @TotalRefundAmount DECIMAL(18,2) = 0;
    DECLARE @OriginalQuantity DECIMAL(10,2), @ShopId INT, @Subtotal DECIMAL(18,2);
	    DECLARE  @TransactionCode VARCHAR(20);

    -- ✅ BẮT ĐẦU TRANSACTION
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 🔄 Giải phóng con trỏ nếu tồn tại
        IF CURSOR_STATUS('global', 'ReturnCursor') >= 0  
            DEALLOCATE ReturnCursor;

        -- 📌 Kiểm tra xem đơn hàng này đã được hoàn chưa
        IF EXISTS (SELECT 1 FROM Refund WHERE order_id = @OrderId AND refund_status = 'Completed')
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50000, 'Đơn hàng này đã được hoàn trước đó. Không thể hoàn thêm lần nữa.', 1;
        END;

        -- 📌 Lấy thông tin cửa hàng từ đơn hàng
        SELECT @ShopId = shop_id FROM [Order] WHERE OrderId = @OrderId;
        IF @ShopId IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50000, 'Không tìm thấy đơn hàng.', 1;
        END;

        -- 1️⃣ Tạo bản ghi hoàn tiền
        INSERT INTO Refund (order_id, employeeid, refund_date, refund_amount, refund_status)
        VALUES (@OrderId, @EmployeeId, GETDATE(), 0, 'Pending');

        SET @RefundId = SCOPE_IDENTITY();

        -- 2️⃣ Duyệt danh sách sản phẩm cần trả hàng
        DECLARE ReturnCursor CURSOR FOR 
        SELECT ProductId, ReturnQuantity, UnitPrice, (ReturnQuantity * UnitPrice) AS Subtotal
        FROM OPENJSON(@Products) 
        WITH (
            ProductId INT '$.ProductId',
            ReturnQuantity DECIMAL(10,2) '$.ReturnQuantity',
            UnitPrice DECIMAL(18,2) '$.UnitPrice'
        );

        OPEN ReturnCursor;
        FETCH NEXT FROM ReturnCursor INTO @ProductId, @ReturnQuantity, @UnitPrice, @Subtotal;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- 📌 Lấy số lượng sản phẩm trong đơn gốc
            SELECT @OriginalQuantity = quantity 
            FROM OrderDetail 
            WHERE order_id = @OrderId AND product_id = @ProductId;

            IF @OriginalQuantity IS NULL
            BEGIN
                ROLLBACK TRANSACTION;
                THROW 50000, 'Sản phẩm trả không có trong đơn hàng.', 1;
            END;

            -- ❌ Kiểm tra nếu số lượng trả lớn hơn số lượng đã mua
            IF @ReturnQuantity > @OriginalQuantity
            BEGIN
                ROLLBACK TRANSACTION;
                THROW 50000, 'Số lượng trả không thể lớn hơn số lượng đã mua.', 1;
            END;

            -- 🛒 Thêm sản phẩm vào RefundDetail
            INSERT INTO RefundDetail (refund_id, product_id, quantity, unit_price, total_price)
            VALUES (@RefundId, @ProductId, @ReturnQuantity, @UnitPrice, @Subtotal);

            -- 📦 Cộng lại số lượng sản phẩm vào kho
            UPDATE stock_levels 
            SET quantity = quantity + @ReturnQuantity
            WHERE product_id = @ProductId AND warehouse_id = @ShopId;

            -- 📌 TÍNH TỔNG TIỀN HOÀN LẠI (đưa ra ngoài vòng lặp)
            SET @TotalRefundAmount = @TotalRefundAmount + @Subtotal;

            FETCH NEXT FROM ReturnCursor INTO @ProductId, @ReturnQuantity, @UnitPrice, @Subtotal;
        END

        CLOSE ReturnCursor;
        DEALLOCATE ReturnCursor;

        -- 3️⃣ Ghi lại giao dịch hoàn tiền vào quỹ tiền mặt
		        SET @TransactionCode = CONCAT('Cash', '-', '-', FORMAT(GETDATE(), 'yyyyMMddHHmmss'));

		INSERT INTO Transactions (
            transaction_code, transaction_type, payment_method, amount, transaction_date, 
            employee_id, branch_id, order_id, description
        )        VALUES (1, CONCAT('CASH_REFUND_', @RefundId),'Cash',@TotalRefundAmount, GETDATE(), @EmployeeId,@ShopId, @OrderId, 'Trả tiền cho khách trả hàng');


        -- 4️⃣ Cập nhật trạng thái hoàn tiền thành "Completed"
        UPDATE Refund 
        SET refund_amount = @TotalRefundAmount, refund_status = 'Completed'
        WHERE id = @RefundId;

        -- ✅ HOÀN THÀNH -> COMMIT TRANSACTION
        COMMIT TRANSACTION;

        -- 5️⃣ Trả về RefundId và TotalRefundAmount
        SELECT @RefundId AS NewRefundId, @TotalRefundAmount AS TotalRefundAmount;
    END TRY
    BEGIN CATCH
        -- ❌ Nếu có lỗi, rollback toàn bộ transaction
        ROLLBACK TRANSACTION;

        -- 📢 Báo lỗi ra ngoài
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50000, @ErrorMessage, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[pos_SearchOrderToReturn]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pos_SearchOrderToReturn]
    @OrderId INT = NULL,         
    @EmployeeId INT = NULL,      
    @StartDate DATE = NULL,      
    @EndDate DATE = NULL,        
    @WarehouseId INT = NULL,     
    @Barcode NVARCHAR(50) = NULL,  
    @ProductName NVARCHAR(255) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu không nhập @EndDate, mặc định lấy ngày hiện tại
    IF @EndDate IS NULL
        SET @EndDate = CAST(GETDATE() AS DATE);

    -- Chuyển đổi @StartDate và @EndDate sang DATETIME để hỗ trợ giờ/phút/giây
    DECLARE @StartDateTime DATETIME = CAST(@StartDate AS DATETIME);
    DECLARE @EndDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CAST(@EndDate AS DATETIME)));

    -- Truy xuất danh sách hóa đơn kèm theo thông tin nhân viên
    SELECT DISTINCT
        o.OrderId,
        o.created_date AS OrderDate,
        o.shop_id AS WarehouseId,
        o.total_amount AS TotalAmount,
        o.payment_status AS PaymentStatus,
        e.EmployeeID,
        e.FullName AS EmployeeName,
        e.Phone AS EmployeePhone
    FROM [Order] o
    LEFT JOIN Employee e ON o.employeeid = e.EmployeeID -- ✅ Sửa JOIN Employee
    LEFT JOIN OrderDetail od ON o.OrderId = od.order_id  -- ✅ Kiểm tra lại tên cột
    LEFT JOIN Products p ON od.product_id = p.ProductsId -- ✅ Kiểm tra lại tên cột
    WHERE 
        (@OrderId IS NULL OR o.OrderId = @OrderId) 
        AND (@EmployeeId IS NULL OR o.employeeid = @EmployeeId) -- ✅ Đúng quan hệ Employee
        AND (@StartDate IS NULL OR @EndDate IS NULL OR o.created_date BETWEEN @StartDateTime AND @EndDateTime) -- ✅ Đúng điều kiện ngày
        AND (@WarehouseId IS NULL OR o.shop_id = @WarehouseId) 
        AND (@Barcode IS NULL OR p.barcode = @Barcode) 
        AND (@ProductName IS NULL OR p.name LIKE '%' + @ProductName + '%') -- ✅ Kiểm tra đúng tên cột
    ORDER BY o.created_date DESC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[pos_SearchProductByBarcode]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_SearchProductByBarcode]
    @barcode NVARCHAR(50),  -- Mã vạch sản phẩm
    @warehouseId INT        -- ID kho hàng
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @currentDate DATE = GETDATE();

    SELECT 
        p.ProductsId, 
		p.image_url,
        p.name AS ProductName, 
        p.barcode, 
        sl.warehouse_id, 
        sl.quantity AS StockQuantity, 
        sl.retail_price AS OriginalPrice,  
        p.category, 
        p.is_enabled,
        -- Thông tin khuyến mãi
        promo.PromotionsId AS PromotionId,
        promo.name AS PromotionName,
        promo.start_date,
        promo.end_date,
        promo.discount_percent,
        promo.description,
        -- Tính giá bán lẻ sau giảm giá
        CASE 
            WHEN promo.discount_percent IS NOT NULL 
            THEN sl.retail_price * (1 - promo.discount_percent / 100) 
            ELSE sl.retail_price 
        END AS FinalPrice 
    FROM products p
    JOIN stock_levels sl ON p.ProductsId = sl.product_id
    LEFT JOIN promotions promo 
        ON p.ProductsId = promo.product_id 
        AND sl.warehouse_id = promo.warehouse_id
        AND @currentDate BETWEEN promo.start_date AND promo.end_date
    WHERE 
        sl.warehouse_id = @warehouseId
		and p.is_enabled = 1
        AND p.barcode = @barcode -- Tìm kiếm theo barcode
    ORDER BY LEN(p.name), p.name;
END;
GO
/****** Object:  StoredProcedure [dbo].[pos_SearchProductByName]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_SearchProductByName]
    @query NVARCHAR(100), -- Từ khoá tìm kiếm
    @warehouseId INT      -- ID kho hàng
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @currentDate DATE = GETDATE();

    -- 🔹 Chọn khuyến mãi có mức giảm cao nhất
    WITH BestPromo AS (
        SELECT 
            promo.product_id,
            promo.warehouse_id,
            MAX(promo.discount_percent) AS BestDiscount
        FROM promotions promo
        WHERE 
            promo.start_date <= @currentDate 
            AND promo.end_date >= @currentDate
            AND promo.warehouse_id = @warehouseId
        GROUP BY promo.product_id, promo.warehouse_id
    ),
    
    -- 🔹 Tổng hợp số lượng tồn kho của mỗi sản phẩm
    StockSummary AS (
        SELECT 
            product_id, 
            warehouse_id, 
            SUM(quantity) AS TotalQuantity, 
            MAX(retail_price) AS RetailPrice -- Lấy giá cao nhất để tránh nhân bản
        FROM stock_levels
        WHERE warehouse_id = @warehouseId
        GROUP BY product_id, warehouse_id
    )

    -- 🔹 Truy vấn sản phẩm + thông tin kho + khuyến mãi tốt nhất
    SELECT 
        p.ProductsId, 
        p.image_url,
        p.name AS ProductName, 
        p.barcode, 
        ss.warehouse_id, 
        ss.TotalQuantity AS StockQuantity, 
        ss.RetailPrice AS OriginalPrice,  
        p.category, 
        p.is_enabled,
        -- Thông tin khuyến mãi
        promo.PromotionsId AS PromotionId,
        promo.name AS PromotionName,
        promo.start_date,
        promo.end_date,
        bp.BestDiscount AS discount_percent, -- Chỉ lấy discount cao nhất
        promo.description,
        -- Tính giá bán lẻ sau giảm giá
        CASE 
            WHEN bp.BestDiscount IS NOT NULL 
            THEN ss.RetailPrice * (1 - bp.BestDiscount / 100) 
            ELSE ss.RetailPrice 
        END AS FinalPrice 
    FROM products p
    JOIN StockSummary ss ON p.ProductsId = ss.product_id
    LEFT JOIN BestPromo bp ON p.ProductsId = bp.product_id AND ss.warehouse_id = bp.warehouse_id
    LEFT JOIN promotions promo 
        ON p.ProductsId = promo.product_id 
        AND ss.warehouse_id = promo.warehouse_id
        AND promo.discount_percent = bp.BestDiscount -- Chỉ lấy promo có giảm giá cao nhất
    WHERE 
        p.is_enabled = 1
        AND p.name COLLATE Vietnamese_CI_AI LIKE @query + '%' -- Tìm kiếm theo tên
    ORDER BY LEN(p.name), p.name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderDetailsByOrderId]    Script Date: 3/18/2025 4:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrderDetailsByOrderId]
    @OrderId INT -- ✅ Chỉ tìm theo OrderId, không có các tham số khác
AS
BEGIN
    SET NOCOUNT ON;

    -- Truy xuất chi tiết đơn hàng theo OrderId
    SELECT 
        o.OrderId,
        o.created_date AS OrderDate,
        o.shop_id AS WarehouseId,
        o.total_amount AS TotalAmount,
        o.payment_status AS PaymentStatus,
        od.OrderDetailId,
        od.product_id AS ProductId,
        p.name,
		p.image_url,
        p.barcode,
        od.quantity AS Quantity,
        od.unit_price AS UnitPrice,
        od.total_price AS TotalPrice
    FROM [Order] o
    JOIN OrderDetail od ON o.OrderId = od.order_id
    JOIN Products p ON od.product_id = p.ProductsId
    WHERE o.OrderId = @OrderId -- ✅ Chỉ tìm theo OrderId
    ORDER BY o.created_date DESC; -- Sắp xếp theo ngày hóa đơn gần nhất
END;
GO
USE [master]
GO
