
.page-body{
    background-color: #f8f9fa;
    height: 100%;
}
.tool-bar {
    background-color: #007bff;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invoice-tabs {
    display: flex;
    align-items: center;
    background: #007bff;
    border-radius: 8px;
    padding: 5px;
    overflow-x: auto;
    max-width: 100%;
}

.invoice-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
    transition: background 0.2s;
}

.invoice-tab.active {
    background-color: #0056b3;
    border-bottom: 3px solid white;
}

.invoice-tab:hover {
    background-color: #0056b3;
}

.invoice-close {
    margin-left: 8px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    border: 1px solid;
    border-radius: 10px;
}

.invoice-close:hover {
    color: #ff0303;
}

.header{
    height: 20px;
}
.order-history{
    width: 800px;
}