.item-card{
    border: 0.01px black solid;
    border-radius: 5px;
    padding: 10px 20px 20px 10px;
    height: 500px;
    overflow: auto;
}
.page-body{
    overflow-y: auto;
    height: auto;
}
.tool-bar{
    background-color: darkturquoise;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}